################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/chargeReporting
/chargeReporting/bin
/chargeReporting/obj
*.user
/chargeReporting/Properties/launchSettings.json
